'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'jq'
    'submenu': [
      { 'label': 'Open jq', 'command': 'atom-jq:open' }
      { 'label': 'Close jq', 'command': 'atom-jq:close' }
    ]
  ]
]
