@import "ui-variables";
@import "syntax-variables";

.atom-jq-root {
  .jq-panel {
    display: flex;
    padding: 20px;

    &__hidden {
      display: none !important;
    }
  }

  .jq-panel-input {
    flex: 1;
    background-color: lighten(@syntax-background-color, 5%);
    color: @text-color;
    min-width: 450px;
    width: 100%;
    letter-spacing: 0.9px;
    margin-right: 20px;
    border: none;
    border-radius: 0.125rem;
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.24);
    font-size: 0.9rem;
    padding-left: 15px;
  }

  .btn {
    border-radius: 0.125rem;
    background-color: lighten(@syntax-background-color, 5%);
  }
}
